  .App {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: red;
  }
  
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }
  
  .contendedor-botones {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: greenyellow;
  }
  
  .contendedor-botones-numeros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background-color: blue;
  }